{% extends 'EnglishCoursesBundle::dialog.html.twig' %}
 
{% block content %}

<div class="col-sm-offset-1 col-sm-10 well-lg" style="background-color: #ffffff; min-height: 100vh;">


<form action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
</div>

{% endblock %}
