{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10" style="padding-top:10px; background-color:#f3f0dd ">

        <div class="alert alert-info" role="alert">It looks like nothing was found at this location.  Please check your request.</div>

    </div>
{% endblock %}