 {% extends 'EnglishMajornotesBundle:Majornote:layout.html.twig' %}
 
 {% block body %}

<form action="{{ path('majornote_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('majornote') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
