/upload
/web/uploads
/web/bundles
/web/cwp
/web/dawgspeak
/web/dept
/web/fyc
/web/grad
/web/home_images
/web/nhilton
/web/includes
/web/nhilton-bin
/web/publications
/web/rlbaltha
/web/undergrad
/web/wblake
/web/wessex
/app/bootstrap.php.cache
/app/cache
/app/logs
/vendor
/app/config/parameters.ini
/nbproject
/web/Blake_Concordance
