 {% extends 'EnglishAreasBundle:Area:layout.html.twig' %}
 
 {% block body %}
<div class="row divider"><div class="cell"><a href="{{ path('area_new') }}">Add Area for Faculty Listings</a></div></div>


    
    {% for entity in entities %}
        <div class="row">
            <div class="cell">{{ entity.area }}</div>
            <div class="cell">
            <a href="{{ path('area_edit', { 'id': entity.id }) }}">Update/Delete</a>
            </div>        
        </div>
     
            

    {% endfor %}
      
{% endblock %}

