{% extends 'EnglishAreasBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for area in areas %}
                <tr>
                    <td>{{ area.area }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('area_edit', { 'id': area.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}


