{% extends 'EnglishPositionBundle::subnav.html.twig' %}

{% block content %}
        <table class="table table-striped">
            {% for position in positions %}
                <tr>
                    <td>{{ position.position }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('position_edit', { 'id': position.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
