{% extends 'EnglishPagesBundle::subnav.html.twig' %}


{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">
        {{ form(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div id="delete" class="pull-right">
            <button class="btn btn-warning" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Delete</button>
        </div>

        <div id="confirm" class="pull-right">
            {{ form(delete_form) }}
            <button class="btn btn-default" onclick="$('#confirm').toggle();$('#delete').toggle()" type="submit">Cancel</button>
        </div>
    </div>

{% endblock %}
