{% extends 'EnglishPagesBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    </div>

{% endblock %}
