{% extends 'EnglishMajorsBundle::subnav.html.twig' %}
 
{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for mentor in mentors %}
                <tr>
                    <td><a title="Find {{ mentor.name }}'s majors" class="" href="{{ path('major_findbymentor', { 'id': mentor.id }) }}">{{ mentor.name }}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-default pull-right" href="{{ path('mentor_edit', { 'id': mentor.id }) }}">Update/Delete</a>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

