{% extends 'EnglishMajorsBundle::subnav.html.twig' %}
 
{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #f5f5f5; min-height: 100vh">

        <table class="table table-striped">
            {% for mentor in mentors %}
                <tr>
                    <td>{{ mentor.name }}
                        <div class="btn-group pull-right">
                            <a class="btn btn-default" href="{{ path('major_findbymentor', { 'id': mentor.id }) }}">List Mentees</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-default" href="{{ path('mentor_edit', { 'id': mentor.id }) }}">Update/Delete</a>
                            {% endif %}
                        </div>

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

