 {% extends 'EnglishMentorsBundle:Mentor:layout.html.twig' %}
 
 {% block body %}

<div class="row_contrast divider">
    {% if is_granted('ROLE_ADVISOR') %}
    {% include 'EnglishMajorsBundle:Major:nav.html.twig' %}
    {% endif %}
</div>
    
    {% for entity in entities %}
        <div class="row">
            <div class="cell bold">{{ entity.name }}</div>
            <div class="cell"><a href="{{ path('mentor_edit', { 'id': entity.id }) }}">Edit</a></div>
            <div class="cell"><a href="{{ path('major_findbymentor', { 'id': entity.id }) }}">List Advisees</a></div>
        </div>
    {% endfor %}

{% endblock %}
