 {% extends 'EnglishMentorsBundle:Mentor:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('mentor') }}">List</a></div></div>

<div class="row"><div class="cell">
<form action="{{ path('mentor_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
</div></div>
        
{% endblock %}
