 {% extends 'EnglishPeopleBundle:People:layout.html.twig' %}
 
 {% block body %}
 
<div class="row"><div class="cell"><a href="{{ path('people') }}">List</a></div></div>

<form action="{{ path('people_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% endblock %}
