{% extends 'EnglishPeopleBundle::subnav.html.twig' %}


{% block content %}
        <p class="pull-right">** Denotes Required Information</p>
        <form class="" action="{{ path('people_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form, { 'attr': {'novalidate': 'novalidate' }}) }}
            <button class="btn btn-default" type="submit">Update</button>
        </form>
{% endblock %}