imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

services:
    fos_user.doctrine_registry:
        alias: doctrine

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
      resource: "%kernel.root_dir%/config/routing.yml"
      strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    session: ~
    default_locale: %locale%
    trusted_proxies: ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
      application_name:       %app_name%
      twitter:              %twitter%


# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    port:      %mailer_port%
    encryption: %mailer_encryption%
    username:  %mailer_user%
    password:  %mailer_password%
    sender_address: %mailer_sender_address%
    spool: { type: memory }

be_simple_sso_auth:
    admin_sso:
        protocol:
            id: cas
            version: 2
        server:
            id: cas
            login_url: https://cas.uga.edu/cas/login
            logout_url: https://cas.uga.edu/cas/logout
            validation_url: https://cas.uga.edu/cas/serviceValidate

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: English\PeopleBundle\Entity\User
    registration:
        confirmation:
            enabled:    false
    from_email:
        address:        %from_email%
        sender_name:    English Dept.
    service:
        user_manager:   fos_user.user_manager.default


# Doctrine extensions
stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            timestampable: true
            sluggable: true

#vich_uploader:
#    db_driver: orm # or mongodb
#    twig: true
#    gaufrette: false # set to true to enable gaufrette support
#    storage: vich_uploader.storage.file_system
#    mappings:
#        property_file:
#            uri_prefix: %upload_path%   # uri prefix to resource
#            upload_destination: %upload_path%   # gaufrette storage fs id, required
#            namer: vich_uploader.namer_origname # namer.upload_file  specify a file namer service id for this entity, null default
#            directory_namer: directory_namer.upload_file  # specify a directory namer service id for this entity, null default
#            delete_on_remove: true # determines whether to delete file upon removal of entity
#            inject_on_load: true # determines whether to inject a File instance upon load

#knp_snappy:
#    pdf:
#        enabled:    true
#        binary:     %wkhtmltopdf_path%
#        options:    []

ivory_ck_editor:
    plugins:
        imagebrowser:
            path:     "bundles/englishhome/ckeditor/imagebrowser/"
            filename: "plugin.js"
        filebrowser:
            path:     "bundles/englishhome/ckeditor/filebrowser/"
            filename: "plugin.js"
    configs:
        editor_default:
            toolbar: "toolbar_default"
            removePlugins: "elementspath,contextmenu,liststyle,tabletools"
            allowedContent: 'p h2 h3 h4 img{text-align,margin-left}(*); a[!href,target]{*}(*); table th tr td strong em; ol ul li span(*){font-size,font-family,color,background-color}; img[*]{*}; iframe{*}[*];'
            disableNativeSpellChecker: false
            height: 300
            stylesSet: 'default_styles:../../bundles/englishhome/js/ckeditor_styles.js'
        editor_simple:
            toolbar: "toolbar_simple"
            removePlugins: "elementspath,contextmenu,liststyle,tabletools"
            allowedContent: 'p h2 h3 h4 img{text-align,margin-left}(*); a[!href,target]{*}(*); table th tr td strong em; ol ul li span(*); img[*]{*}; iframe{*}[*];'
            disableNativeSpellChecker: false
            height: 150
            stylesSet: 'default_styles:../../bundles/englishhome/js/ckeditor_styles.js'
        editor_page:
            startupFocus: true
            toolbar: "toolbar_page"
            extraPlugins: 'filebrowser,imagebrowser'
            removePlugins: "elementspath,contextmenu,liststyle,tabletools"
            allowedContent: 'p h2 h3 h4 hr img{text-align,margin-left}(*); a[*]{*}(*); table(*); th tr td strong s em; ol ul li span(*){font-size,font-family,color,background-color}[data-id]; img[*]{*}; iframe{*}[*]; div(*){*}[*];'
            disableNativeSpellChecker: false
            height: 500
            stylesSet: 'default_styles:../../bundles/englishhome/js/ckeditor_styles.js'
            imageBrowser_listUrl: "/engDept/web/app_dev.php/file/imagebrowser"
    toolbars:
        configs:
            toolbar_default: [ ['Styles','Bold','Italic','Underline','Strike','JustifyLeft','JustifyCenter','JustifyRight','TextColor','BGColor','FontSize'],['Link','Unlink','NumberedList','BulletedList','Outdent','Indent','Image','MediaEmbed'],[ 'PasteText', 'PasteFromWord', 'Undo', 'Redo','RemoveFormat'] ]
            toolbar_simple: [ ['Bold','Italic','Underline','Strike'],['Link','Unlink'],['NumberedList','BulletedList']]
            toolbar_page: [ ['Source','Styles','Bold','Italic','Underline','Strike','Font','FontSize'],['JustifyLeft','JustifyCenter','JustifyRight'],['TextColor','BGColor'],['Link','Unlink'],['NumberedList','BulletedList'],['Outdent','Indent'],['Image'],[ 'PasteText', 'Table', 'Undo', 'Redo','RemoveFormat','Maximize'] ]
