login:
    path: /login
    defaults: { _controller: EnglishHomeBundle:Default:index }
login_check:
    path: /login_check
logout:
    path: /logout
    defaults: { _controller: EnglishHomeBundle:Default:index }

wwwRedirect:
    path:  /
    host: english.uga.edu
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: https://www.english.uga.edu
        permanent: true

WritingcenterRedirect:
    path:  /
    host: writingcenter.english.uga.edu
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://www.english.uga.edu/writing-center
        permanent: true

CWPRedirect:
    path:  /
    host: cwp.uga.edu
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://www.english.uga.edu/creative-writing-program
        permanent: true

BISPIndexSlashRedirect:
    path: /bisp/
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://bis.uga.edu/
        permanent: true

# end of redirects

default:
    path:  /
    defaults: { _controller: EnglishHomeBundle:Default:index }
    
EnglishDonateBundle:
    resource: "@EnglishDonateBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAuthenticateBundle:
    resource: "@EnglishAuthenticateBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishPositionBundle:
    resource: "@EnglishPositionBundle/Controller/"
    type:     annotation
    prefix:   /



EnglishHomeBundle:
    resource: "@EnglishHomeBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishTermBundle:
    resource: "@EnglishTermBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishSpotlightBundle:
    resource: "@EnglishSpotlightBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishSlideshowBundle:
    resource: "@EnglishSlideshowBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishPeopleBundle:
    resource: "@EnglishPeopleBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMentorsBundle:
    resource: "@EnglishMentorsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMajornotesBundle:
    resource: "@EnglishMajornotesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMajorsBundle:
    resource: "@EnglishMajorsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishLinksBundle:
    resource: "@EnglishLinksBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradnotesBundle:
    resource: "@EnglishGradnotesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradinfoBundle:
    resource: "@EnglishGradinfoBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradcomBundle:
    resource: "@EnglishGradcomBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishFilesBundle:
    resource: "@EnglishFilesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishDescriptionsBundle:
    resource: "@EnglishDescriptionsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishCoursesBundle:
    resource: "@EnglishCoursesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishCalendarBundle:
    resource: "@EnglishCalendarBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAreasBundle:
    resource: "@EnglishAreasBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAdvisorsBundle:
    resource: "@EnglishAdvisorsBundle/Controller/"
    type:     annotation
    prefix:   /

