english_pages:
    resource: "@EnglishPagesBundle/Controller/"
    type:     annotation
    prefix:   /

# redirects for old urls
FYCdefault:
    pattern:  /fyc/home.html
    defaults: { _controller: EnglishPagesBundle:Page:show, id:1 }

GRADdefault:
    pattern:  /grad/home.html
    defaults: { _controller: EnglishPagesBundle:Page:show, id:5 }

UNDERGRADdefault:
    pattern:  /undergrad/home.html
    defaults: { _controller: EnglishPagesBundle:Page:show, id:9 }

BISPIndexRedirect:
    pattern: /bisp
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://bis.uga.edu/
        permanent: true

BISPIndexSlashRedirect:
    pattern: /bisp/
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://bis.uga.edu/
        permanent: true

BISPRedirect:
    pattern: /bisp/{page}
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://bis.uga.edu/
        permanent: true

CWPRedirect:
    pattern: /cwp/{page}
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: http://www.uga.edu
        permanent: true

BlakeIndexRedirect:
    pattern: /Blake_Concordance
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/ee/home.html
        permanent: true

BlakeIndexSlashRedirect:
    pattern: /Blake_Concordance/
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/ee/home.html
        permanent: true

BlakeRedirect:
    pattern: /Blake_Concordance/{page}
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/ee/home.html
        permanent: true

WBlakeIndexRedirect:
    pattern: /wblake
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/wblake/home1.html
        permanent: true

WBlakeIndexSlashRedirect:
    pattern: /wblake/
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/wblake/home.html
        permanent: true

WBlakeRedirect:
    pattern: /wblake/{page}
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path:  http://www.english.uga.edu/~nhilton/wblake
        permanent: true

# end of redirects

EnglishDawgspeakBundle:
    resource: "@EnglishDawgspeakBundle/Controller/"
    type:     annotation
    prefix:   /

default:
    pattern:  /
    defaults: { _controller: EnglishHomeBundle:Default:index }
    
EnglishDonateBundle:
    resource: "@EnglishDonateBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAuthenticateBundle:
    resource: "@EnglishAuthenticateBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishPublicationsBundle:
    resource: "@EnglishPublicationsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishPositionBundle:
    resource: "@EnglishPositionBundle/Controller/"
    type:     annotation
    prefix:   /

# app/config/routing.yml
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

#fos_user_register:
#    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
#    prefix: /register

#fos_user_resetting:
#    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
 #   prefix: /resetting

#fos_user_change_password:
#    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
#    prefix: /profile

EnglishHomeBundle:
    resource: "@EnglishHomeBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishTermBundle:
    resource: "@EnglishTermBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishSpotlightBundle:
    resource: "@EnglishSpotlightBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishSlideshowBundle:
    resource: "@EnglishSlideshowBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishPeopleBundle:
    resource: "@EnglishPeopleBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMentorsBundle:
    resource: "@EnglishMentorsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMajornotesBundle:
    resource: "@EnglishMajornotesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishMajorsBundle:
    resource: "@EnglishMajorsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishLinksBundle:
    resource: "@EnglishLinksBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradnotesBundle:
    resource: "@EnglishGradnotesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradinfoBundle:
    resource: "@EnglishGradinfoBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishGradcomBundle:
    resource: "@EnglishGradcomBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishFilesBundle:
    resource: "@EnglishFilesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishDescriptionsBundle:
    resource: "@EnglishDescriptionsBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishCoursesBundle:
    resource: "@EnglishCoursesBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishCalendarBundle:
    resource: "@EnglishCalendarBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAreasBundle:
    resource: "@EnglishAreasBundle/Controller/"
    type:     annotation
    prefix:   /

EnglishAdvisorsBundle:
    resource: "@EnglishAdvisorsBundle/Controller/"
    type:     annotation
    prefix:   /



# Internal routing configuration to handle ESI
#_internal:
#   resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
#   prefix:   /_internal
