 {% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell"><a href="{{ path('gradinfo') }}">List</a></div></div>

<form action="{{ path('gradinfo_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% endblock %}
