{% extends 'EnglishCalendarBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for event in events %}
                <tr>
                    <td>
                        {{ event.title }}
                        {{ event.time|date('h:i a') }}
                        <a class="pull-right" href="{{ path('calendar_edit', { 'id': event.id }) }}">Update/Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>{{ event.description|raw }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
