{% extends 'EnglishCalendarBundle::subnav.html.twig' %}
 
{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">
        <form action="{{ path('calendar_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button class="btn btn-default" type="submit">Create</button>
        </form>
    </div>

{% endblock %}
