{% extends 'EnglishDescriptionsBundle::subnav.html.twig' %}

{% block content %}
        <form class="" action="{{ path('description_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            {{ form_widget(form) }}
            <button class="btn btn-default" type="submit">Post</button>
        </form>
{% endblock %}
