{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/englishhome/js/jquery.zrssfeed.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#che1').rssfeed('http://chronicle.com/section/News/6/rss', {
                limit: 10,
                linktarget: '_blank',
                ssl: true

            });
            $('#che2').rssfeed('http://chronicle.com/section/Opinion-Ideas/40/rss', {
                limit: 10,
                linktarget: '_blank',
                ssl: true
            });
        });
    </script>
{% endblock %}


{% block content %}

            <div id="che1"></div>

            <div id="che2"></div>

{% endblock %}
