{% extends 'EnglishMajorsBundle::subnav.html.twig' %}


{% block content %}
        <form class="" action="{{ path('major_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
            {{ form_widget(form) }}
            <button class="btn btn-default" type="submit">Update</button>
        </form>
{% endblock %}