{% extends 'EnglishDonateBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #f5f5f5; height: 100vh">

        <p>Alumni giving to the English Department makes it possible for us to recruit and support new faculty as they develop into experienced teachers and productive scholars.</p>

        <p>UGA Foundation accounts, along with the McMullan, Appleby, and Brown/Everett Funds, support research trips, attendance at important conferences, book purchases, or visits to Park Hall by distinguished critics and artists, all of which contributes directly to the educational and intellectual energy of the Department. Each year we recognize graduate and undergraduate student achievement through prizes and scholarships supported by a range of funds often named in honor of former students whose families wished to commemorate the important role that the study of literature played in their lives.</p>

        <p>If you wish to direct a gift to one or more specialized funds, please feel free to do so by browsing the list of funds and reading about their varied emphases.</p>

        <p>Department Head Jed Rasula</p>
        <p>Tel: 706.542.1261  Fax: 706.542.2181</p>

        <table class="table table-striped">
            {% for fund in funds %}
                <tr>
                    <td>
                        <strong>
                            {{ fund.fund }}
                        </strong>
                        <p><a href="{{ fund.link }}" title="Make an Online Gift Now" target="_blank">Make an Online Gift Now</a></p>

                        <p>{{ fund.description }}</p>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('donate_edit', { 'id': fund.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

