{% extends 'EnglishPublicationsBundle::subnav.html.twig' %}

{% block content %}

<div class="col-sm-offset-1 col-sm-10 well" style="background-color: #ffffff; height: 100vh">

    <dl>
        {% for publication in publications %}
            <dd>
                {{ publication.description | raw }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('publications_edit', { 'id': publication.id }) }}">Update/Delete</a>
                {% endif %}
            </dd>
        {% endfor %}
    </dl>

    {% endblock %}

