{% extends 'EnglishPublicationsBundle:Publications:layout.html.twig' %}
 
{% block body %}

{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="welcome"><div class="head">Publications</div></div>
{% endif %}

{% if is_granted('ROLE_ADMIN')  %}
<div class="row divider">
<div class="cell"><a href="{{ path('publications_new') }}">Add Publication Description</a></div>
</div>
{% endif %}

{% for entity in entities %}
<div class="row divider">
<div class="cell">{{ entity.description | raw }}</div>
</div>
{% if is_granted('ROLE_ADMIN')  %}
<div class="row divider">
<div class="cell"><a href="{{ path('publications_edit', { 'id': entity.id }) }}">Edit</a></div>
</div>
{% endif %}
{% endfor %}

{% endblock %}
