 {% extends 'EnglishGradcomBundle:Gradcom:layout.html.twig' %}
 
 {% block body %}

<div class="row"><div class="cell">
<form action="{{ path('gradcom_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
</div></div>
{% endblock %}
