{% extends 'EnglishHomeBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#confirm').toggle();
        });
    </script>
{% endblock %}

{% block subnav %}
    <!-- Static navbar -->
    <div class="navbar navbar-default subnav" role="navigation"  style="padding-left:10%; padding-right:10%; min-height:90px;">

    <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#subnav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h3>Areas</h3></a>
            </div>
            <div id="subnav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('area_new') }}">Add Area of Faculty Expertise</a>
                        {% endif %}
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Areas <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for area in areas %}
                                <li><a href="{{ path('directory_area', {'area': area.id}) }} "  title="Select area" >{{area.area}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </div>

{% endblock %}