{% extends 'EnglishPagesBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for section in sections %}
                <tr>
                    <td><a href="{{ path('section_show', { 'id': section.id }) }}">{{ section.name }}</a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('section_edit', { 'id': section.id }) }}">Update/Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
