
dd {
    margin-bottom: 30px;
}

.subnav {
    margin-bottom: 0px;
    background-color: #ffffff;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: 8px;margin-right: 3px;
}

label {
    margin-top: 5px;
}

.page-header {
    margin-top: 40px;
}

div#content {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #f3f0dd;
    height: 100%;
}

div#content > div {
    background-color: #ffffff;
    min-height: 100vh
}

.btn-warning {
    margin-top: -55px;
}

.navbar-brand {
    font-size: 16pt;
}

.panel-heading > .btn-group {
    margin-top: -5px;
}

.dropdown-toggle:hover > ul.dropdown-menu {
    display: block;
}

.navbar-nav li a {
    margin-right:0;
    padding-right: 7px;
    padding-left: 7px;
}

.navbar-inverse {
    background-color: #777777;
    padding-right: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f3f0dd;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000000;
}


.navbar-inverse .navbar-brand {
    color: #f3f0dd;
}

.margin-left {
    margin-left: 20px;
}

.navbar-inverse div p, .navbar-inverse div a {
    color: #f3f0dd;
}

.navbar-inverse div a:hover {
    color: #000000;
}
