
dd {
    margin-bottom: 30px;
}

a {
    color:#24547e
}

.subnav {
    margin-bottom: 0px;
    background-color: #ffffff;
}

input[type="checkbox"], input[type="radio"] {
    margin-left: 8px;margin-right: 3px;
}

label {
    margin-top: 5px;
}

.page-header {
    margin-top: 40px;
}

div#content {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #f3f0dd;
    height: 100%;
}

div#content > div {
    background-color: transparent;
    min-height: 100vh
}

.btn-warning {
    margin-top: -55px;
}

.navbar-brand {
    font-size: 16pt;
}

.panel-heading > .btn-group {
    margin-top: -5px;
}

.dropdown-toggle:hover > ul.dropdown-menu {
    display: block;
}

.navbar-nav li a {
    margin-right:0;
}

.navbar-inverse {
    background-color: #494949;
    padding-right: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f3f0dd;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000000;
}


.navbar-inverse .navbar-brand {
    color: #f3f0dd;
}

.navbar-default .navbar-nav > li > a.active {
    font-weight: bold;
}

.navbar form label {
    color: #777777;
}

.margin-left {
    margin-left: 20px;
}

.navbar-inverse div p, .navbar-inverse div a {
    color: #f3f0dd;
}

.navbar-inverse div a:hover {
    color: #000000;
}

.carousel-indicators li {
    background-color: #777777;
}

.carousel-indicators li.active {
    background-color: #555555;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-indicators {
    display:none;
}

.onesidedropshadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

ul ul, ol ul {
    list-style-type: none;
}

/********** Accessibility **********/

#skip a, #skip a:hover, #skip a:visited
{
    position:absolute;
    left:0px;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus
{
    position:static;
    display: inline-block;
    width:auto;
    height:auto;
    margin-bottom: -10px;
}


/********** Media Queries **********/

@media (max-width: 1199px) {
    .navbar .nav > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }

}

@media (max-width: 920px) {
    .navbar .nav > li > a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: smaller;
    }
}


@media (max-width: 800px) {
    .navbar .nav > li > a {
        padding-left: 3px;
        padding-right: 3px;
        font-size: smaller;
    }
}

body,html,.row-offcanvas {
    height:100%;
}

body {
    padding-top: 5px;
}

#sidebar {
    width: inherit;
    min-width: 300px;
    max-width: 300px;
    background-color:#f5f5f5;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}
#main {
    height:100%;
    overflow:auto;
}

.well {
    background-color: #ffffff;
}
/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width:calc(100% + 220px);
    }

    .row-offcanvas-left
    {
        left: -220px;
    }

    .row-offcanvas-left.active {
        left: 0;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}
