/* 
    Document   : main
    Created on : Jan 26, 2012, 5:01:44 PM
    Author     : rlbaltha
    Description:
        Purpose of the stylesheet follows.
*/

body {background: #DCDDDE;margin:0px;}
label {padding: .5em}
#people div {padding: .5em;}
#people label {padding: .5em;}
#quicklinks {float:left;width:960px;margin-left: auto;margin-right: auto;height:12em;color: #000}
.banner {float:left;width:960px;margin-left: auto;margin-right: auto;height:120px;}
.banner img {width:960px;height:120px;}
.wrapper {position:relative;width:960px;margin-left: auto;margin-right: auto;font-family: Verdana,Arial,sans-serif;font-size: small;background: white;}
.container {float:left;border:1px solid gray;z-index:1;	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;}
.opacity {position:absolute;top:0px;left:0px;width:100%;background:#000;height:100%;opacity:.30;z-index:2;}
.modal {position:absolute;top:20px;z-index:3;border:3px solid #cccccc;
	font-family: Verdana,Arial,sans-serif;font-size: small;
	-moz-box-shadow: 0 0 10px 10px #888;
	-webkit-box-shadow: 0 0 10px 10px #888;
	box-shadow: 0 0 10px 10px #888;
	}
#qLink_anchor  {color: #fff;}
.nav {float:left;background: black;width:960px;height:26px;}
#quicklinks {background: #fff;}
.modal .row {background: #b0cadc;}
.modal .row .cell {padding: 10px;}
.main_nav {float:left;background: black;width:930px;height:26px; border-bottom: solid 1px gray;padding-left: 30px;}
.main_nav .cell {float:left;height:26px;text-align:center; color:white;}
.main_nav .cell a {padding: 5px; color:white;text-decoration: none;}
.main_nav .cell a:hover {text-decoration: underline;}
.main_nav a.last {border-right:0px}
.sub_nav {float:left;clear:both;background: white;width:100%;padding-top: 5px;padding-bottom: 5px;}
.sub_nav .cell {padding-top: 2px;padding-bottom: 2px;color:black;border-right:1px solid #cccccc}
.notice {float:left;clear:both;background: white;width:100%;padding-top: 5px;padding-bottom: 5px;}
.row {float:left;background:#FFF;width:100%;}
.row_even {float:left;background: #FFF;clear:both;width:100%;}
.row_odd {float:left;background: #FAF4CF; clear:both;width:100%;}
.row_contrast {float:left;background: #DCDCE2; clear:both;width:100%;}
.footer {float:left;width:920px;background:black;padding:20px;}
.footer .cell {float:left;width:100%;color:white;text-align:center;}
.cell {float:left;padding:5px;}
.pad10 {padding:10px;}
.inner_cell {float:left;width:90%;padding:5px;background: #fff;border:dotted 1px black;margin:10px;}
.close {}
.close a {padding-right:4px;padding-left:4px;}
.close a:hover {color:blue;cursor:pointer;text-decoration: none;}
.close:active {background:#cccccc;}
.left {float:left;}
.right {float:right;}
.textright {text-align:right;}
.width50 {width:50px;}
.width75 {width:75px;}
.width100 {width:100px;}
.width150 {width:150px;}
.width200 {width:200px;}
.width300 {width:300px;}
.width400 {width:400px;}
.width640 {width:640px;}
.width800 {width:800px;}
.width_full {width:100%;}
.clear_left {clear:left;}
.bold {font-weight:bold;}
.red {color:#990000;}
.divider {border-bottom:1px solid #cccccc}
.hidden {display:none;}
.ontop {z-index:5;}
a {color:#990000;text-decoration: none;}
a:hover {text-decoration: underline;}

.delete {color:#990000;}
.form {padding:0px;}
.notice {display:none;text-align:center;color:#000;background:#DBCE76;width:100%;position:absolute;top:187px;border:solid 1px #000;z-index:20}
.loading {background:#fff; border:1px solid #CCC; color:#000; font-family:arial, sans-serif; text-align:center; position:fixed; top:0px; left:0px; width:100%;height:30px; z-index:1000; display:none;}
.loading .cell {padding-top:5px;width:99%;text-align:center;font-family: Verdana,Arial,sans-serif;font-size: small;}

.welcome {float:left;background: #DCDCE2;width:100%;}
.welcome .head {float:left;width:960px;height:38px;background:#b8bad1;font-family: sans-serif;font-size: 32pt;font-weight: bold;color:#DCDCE2;text-align: right; }
.welcome .cell {float:left;width:540px;height:300px;padding:5px;padding-top:30px;padding-left:20px;font-size: small; }
.welcome .bold {float:left;font-weight:bold;padding-top:15px;font-size: x-large; color:#9F9164}
.welcome .photo {float:left;width:340px;padding:10px; background:#fff; -webkit-box-shadow: 2px 2px 2px 2px gray;-moz-box-shadow: 2px 2px 2px 2px gray; }
.slideshow_wrapper {float:left;width:340px;margin:20px;margin-top:30px; }
.welcome img {width:340px; }

.sub_wrapper {float:left; width:960px;background:#dedec6;}

.calendar {float:left;width:660px;background:#fff; }
.calendar .head {float:left;width:660px;height:50px;background:#bdbd9b;font-family: sans-serif;font-size: 40pt;font-weight: bold;color:#d8d7c3;text-align: right;}
.calendar .cell {width:645px;padding:5px;padding-left:10px;font-size: small;background:#dedec6;}
.calendar .red {font-weight:bold;padding-top:5px;font-size: large; color:#990000}

.spotlight {float:left;background:#fff;width:299px;border-left:solid 1px #cccccc; }
.spotlight .photo {float:left;width:259px;padding:10px; background:#fff; -webkit-box-shadow: 2px 2px 2px 2px gray;-moz-box-shadow: 2px 2px 2px 2px gray; }
.spotlight img {width:259px; }
.spotlight .photo_cell {float:left;background:#DCDCE2;width:279px;padding:10px}
.spotlight .cell {float:left;background:#DCDCE2;width:259px;padding:20px;padding-top:10px;padding-bottom:10px;}
.spotlight .head {float:left;width:299px;height:50px;background:#D6B4B4;font-family: sans-serif;font-size: 40pt;font-weight: bold;color:#DACFCF;text-align: right; }

.description {float:left;width:100%;background:#fff;border-bottom:1px solid #cccccc; }
.description .margin {float:left;margin: 30px;}
.description .cell {float:left;width:100%;padding-left:15px;padding-right:20px;}

.bio_text {float:left;width:645px;padding:5px;padding-left:10px;font-size: small;}
.bio_photo {float:left;background:transparent;width:279px;padding:10px}
.bio_photo .photo_cell {float:left;width:259px;padding:10px; background:#fff; -webkit-box-shadow: 2px 2px 2px 2px gray;-moz-box-shadow: 2px 2px 2px 2px gray; }
.bio_photo img {width:259px; }

.corners {border-radius: 3px;}

.radio_list {list-style:none;float:left;padding:0px;margin:0px;}
.radio_list li {float:left;}
.checkbox_list {list-style:none;float:left;padding:0px;margin:0px;}
.checkbox_list li {float:left;}

.records_list td {padding:.5em;}
p {margin-top: -3px;margin-bottom: -3px;}

