{% extends 'EnglishLinksBundle::subnav.html.twig' %}

{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well" style="background-color: #f5f5f5; height: 100vh">
        <dl>
            {% for link in links %}
                    <dd>
                        <a href="{{ link.url }}" title="{{ link.title}}" target="_blank">{{ link.title}}</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('link_edit', { 'id': link.id }) }}">Update/Delete</a>
                        {% endif %}
                    </dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}

