{% extends 'EnglishDawgspeakBundle:Def:layout.html.twig' %}
 
{% block body %}
{% if is_granted('ROLE_DAWGSPEAK') %}
<div class='row'>
<div class='cell'>  
    <a href="{{ path('page_new') }}">Create a new page</a>
    <a href="{{ path('page_edit', { 'id': entity.id }) }}">Edit</a>
</div>
</div>
{% endif %}


<div class="row">
<div class="cell">{{ entity.body|raw }}
</div>
</div>        

{% endblock %}

