{% extends 'EnglishTermBundle::subnav.html.twig' %}
 
{% block content %}

    <div class="col-sm-offset-1 col-sm-10 well">

        <table class="table table-striped">
            {% for term in terms %}
                <tr>
                    <td>{{ term.term }}</td>
                    <td>{{ term.termName }}</td>
                    <td>{% if term.type == 1 %}Display in Menu{% elseif term.type == 3 %}Pending{% elseif term.type == 2 %}Default{% else %}Archive{% endif %}</td>
                    <td>{% if is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('term_edit', { 'id': term.id }) }}">Update/Delete</a>
                        {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
