{% extends 'EnglishAdvisorsBundle:Advisor:layout.html.twig' %}
 
{% block body %}

<div class="row_contrast divider">
    {% if is_granted('ROLE_ADVISORADMIN') %}
    {% include 'EnglishMajorsBundle:Major:nav.html.twig' %}
    {% endif %}
</div>
<div class="row divider">
    <div class="cell"><a href="{{ path('advisor_new') }}">New Advisor</a></div>
</div>

    {% for entity in entities %}
<div class="row">
    <div class="cell bold">{{ entity.name }}</div>
    <div class="cell"><a href="{{ path('advisor_edit', { 'id': entity.id }) }}">Update/Delete</a></div>
    <div class="cell"><a href="{{ path('major_findbyadvisor', { 'id': entity.id }) }}">List Advisees</a></div>
</div>
    {% endfor %}
    

{% endblock %}
