{% extends 'EnglishMajorsBundle::subnav.html.twig' %}

{% block content %}
        <table class="table table-striped">
            {% for advisor in advisors %}
                <tr>
                    <td><a title="Find {{ advisor.name }}'s majors"class="" href="{{ path('major_findbyadvisor', { 'id': advisor.id }) }}">{{ advisor.name }}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-default pull-right" href="{{ path('advisor_edit', { 'id': advisor.id }) }}">Update/Delete</a>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
