{% extends 'EnglishSpotlightBundle::subnav.html.twig' %}
 
{% block content %}
        <form action="{{ path('spotlight_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <button class="btn btn-default" type="submit">Create</button>
        </form>
{% endblock %}
